:host {
	display: block;
	width: auto;
	height: auto;
	overflow: auto;
	position: relative;
	cursor: pointer;
	box-sizing: border-box;
	padding: 20px;
	background-color: var(--color-08dp);
	border-radius: 30px;
}

.wrapper {
	width: 100%;
	height: auto;
	display: flex;
	align-items: center;
	min-height: 90px;
	.date-wrapper {
		width: 80px;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		float: left;
		.date {
			width: 60px;
			height: 60px;
			border-radius: 15px;
			background-color: var(--color-primary-1);
			display: flex;
			align-items: center;
			span {
				width: 100%;
				text-align: center;
				font-size: 18px;
				font-weight: 500;
				color: white;
				font-family: var(--montserrat-font);
				display: block;
			}
			&.late {
				background-color: var(--color-red1);
			}
		}
	}
	.details-wrapper {
		width: calc(100% - 80px - 90px);
		height: 100%;
		box-sizing: border-box;
		padding: 0 15px;
		float: left;
		span {
			width: 100%;
			display: block;
			overflow: hidden;
			white-space: nowrap;
			text-overflow: ellipsis;
			font-weight: 500;
			font-family: var(--montserrat-font);
			text-align: left;
			&.name {
				color: white;
				margin-bottom: 10px;
				font-size: 20px;
			}
			&.description {
				color: var(--color-grey2);
				font-size: 18px;
			}
		}
	}
	.arrow-wrapper {
		width: 90px;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		float: right;
		img {
			width: 30px;
		}
	}
}

.grade {
	width: auto;
	display: block;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: 15px;
	font-size: 20px;
	color: var(--color-grey4);
	font-family: var(--montserrat-font);
	font-weight: 500;
}
