<button class="button" (click)="onAddProgramClick()">Add</button>
<input type="text" class="input" placeholder="Search by Name" (input)="onNameSearchInput($event)">
<div class="wrapper" *ngIf="!searchedValue">
  <app-preview-info-banner class="info-banner" *ngFor="let program of studentProgramsPreviewDetails"
    [big-text]="program.programName" [small-text]="'Year: ' + program.yearIndex"
    [no-click]="true"></app-preview-info-banner>
</div>
<div class="wrapper" *ngIf="searchedValue">
  <app-preview-info-banner class="info-banner" *ngFor="let program of filteredStudentProgramsPreviewDetails"
    [big-text]="program.programName" [small-text]="'Year: ' + program.yearIndex"
    [no-click]="true"></app-preview-info-banner>
</div>