<div class="filter" (click)="onFilterClick()"></div>
<app-confirmation-popup *ngIf="popupConfigObj != undefined && popupConfigObj.type == 'confirmation'"
  [popup-config]="popupConfigObj"></app-confirmation-popup>
<app-alert-popup *ngIf="popupConfigObj != undefined && popupConfigObj.type == 'alert'"
  [popup-config]="popupConfigObj"></app-alert-popup>
<app-alert-confirmation-popup *ngIf="popupConfigObj != undefined && popupConfigObj.type == 'alert-confirmation'"
  [popup-config]="popupConfigObj"></app-alert-confirmation-popup>
<app-info-popup *ngIf="popupConfigObj != undefined && popupConfigObj.type == 'info'"
  [popup-config]="popupConfigObj"></app-info-popup>
<app-warning-popup *ngIf="popupConfigObj != undefined && popupConfigObj.type == 'warning'"
  [popup-config]="popupConfigObj"></app-warning-popup>
<app-text-input-popup *ngIf="popupConfigObj != undefined && popupConfigObj.type == 'text-input'"
  [popup-config]="popupConfigObj"></app-text-input-popup>
<app-dropdown-select-popup *ngIf="popupConfigObj != undefined && popupConfigObj.type == 'dropdown-select'"
  [popup-config]="popupConfigObj"></app-dropdown-select-popup>
<app-select-program-year *ngIf="popupConfigObj != undefined && popupConfigObj.type == 'select-program-year'"
  [popup-config]="popupConfigObj"></app-select-program-year>
<app-number-input-popup *ngIf="popupConfigObj != undefined && popupConfigObj.type == 'number-input'"
  [popup-config]="popupConfigObj"></app-number-input-popup>
<app-checkmark-popup *ngIf="popupConfigObj != undefined && popupConfigObj.type == 'checkmark'"
  [popup-config]="popupConfigObj"></app-checkmark-popup>
<app-user-contact-popup *ngIf="popupConfigObj != undefined && popupConfigObj.type == 'user-contact'"
  [popup-config]="popupConfigObj"></app-user-contact-popup>