<h1 class="page-name">New Subject</h1>
<app-go-back-text class="go-back" link=".."></app-go-back-text>
<div class="wrapper" *ngIf="subjectEditDetails">
  <input [(ngModel)]="subjectEditDetails.subjectName" type="text" class="input" name="subject-name"
    placeholder="Subject Name">
  <input [(ngModel)]="subjectEditDetails.subjectCredits" type="number" class="input" name="subject-credits"
    placeholder="Subject Credits">
  <button class="button" (click)="onCreateClick()">Create</button>
</div>