<div class="menu">
  <div class="item" [routerLink]="['home']" routerLinkActive="selected">
    <span>Home</span>
  </div>
  <div class="item" [routerLink]="['assigments']" routerLinkActive="selected">
    <span>Assigments</span>
  </div>
  <div class="item" [routerLink]="['final-grades']" routerLinkActive="selected">
    <span>Final Grades</span>
  </div>
  <div class="item" [routerLink]="['members']" routerLinkActive="selected">
    <span>Members</span>
  </div>
</div>
<router-outlet></router-outlet>